.xs-top-bar {
  background-color: $color-secondary-v2;
  padding: 16px 20px;

  .xs-top-bar-mail {
    float: right;
    color: $color-white;
    font-size: em(12px);
    margin-right: 40px;
    line-height: 1;
    i {
      padding-right: 8px;
    }
  }

  .xs-top-social {
    float: right;
    line-height: 1;
    li {
      display: inline-block;
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $color-white;
        font-size: em(12px);
      }
    }
  }

  &.top-bar-second {
    background-color: $color-bondiBlue;
    position: relative;
    overflow: hidden;
    .xs-top-bar-mail {
      float: left;
      margin-right: 0;
    }
    &:before ,
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      width: calc(50% - 570px + 1em);
      height: 30px;
      background-color: $color-white;
      border-top: 18px solid #079bbb;
      border-bottom: 28px solid #FFFFFF;
    }

    &::before {
      left: -10px;
      border-right: 18px solid #079bbb;
    }

    &:after {
      right: -10px;
      border-left: 18px solid #079bbb;
    }

  }

  .header-transparent & {
    margin-left: -15px;
    margin-right: -15px;
  }
}