// section heading
.xs-heading {
	.xs-title {
		color: $color-secondary;
		font-size: em(46px);
		font-weight: 700;
		letter-spacing: -.2px;
		position: relative;
		z-index: 1;
		margin-bottom: 7px;
		&:before {
			position: absolute;
			content: attr(data-title);
			top: -90px;
			left: -44px;
			font-size: 3.846em;
			color: $color-gray;
			line-height: 1;
			z-index: -1;
			pointer-events: none;
		}
		&.big {
			font-size: em(52px);
			margin-bottom: 0;
		}
		
		&.small {
			font-size: em(36px);
		}
	}
	span {
		color: $color-primary;
	}
	.color-green {
		color: $color-green;
	}
	.color-white {
		color: $color-white;
	}
	.xs-separetor {
		width: 35px;
		margin-bottom: 19px;
	}
	p {
		margin-bottom: 0;
		font-size: em(16px);
		&.small {
			font-size: em(14px);
		}
	}
	.xs-btn-wraper {
		text-align: right;
		padding-top: 15px;
	}
	.mx-auto {
		.xs-separetor {
			margin: 0 auto;
		}
		p {
			margin-bottom: 20px;
		}
	}
}

.xs-line-title {
	margin-bottom: 0px;
	color: $color-primary;
	font-weight: 400;
	font-size: em(22px);
	line-height: 1;
	position: relative;
	z-index: 2;
	&:before {
		position: absolute;
		content: "";
		height: 2px;
		width: 20px;
		background-color: $color-primary;
		top: 50%;
		transform: translateY(-50%);
		left: -30px;
	}
}

.xs-separetor {
	height: 1px;
	width: 100%;
	background-color: #eeeeee;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
	position: relative;
	&.v2 {
		height: 2px;
		width: 70px;
		background-color: $colorShamrock;
	}
	&.v3 {
		width: 104px;
		height: 2px;
		background-image: repeating-linear-gradient(to right,
		rgba(4,29,87,1) 0%, rgba(4,29,87,1) 40%,
		rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%,
		rgba(4,29,87,1) 60%, rgba(4,29,87,1) 100%);
		&::before,
		&::after {
			position: absolute;
			content: "";
			top: 50%;
			transform: translateY(-50%);
			@include equal-size(6px);
			border-radius: 100%;
			background-color: $color-secondary;
		}
		&::before {
			left: calc(50% - 7px);
		}
		&:after {
			left: calc(50% + 1px);
		}
	}
}


.xs-separetor {
	&.dashed {
		background-image: repeating-linear-gradient(to right, 
			rgba(4,29,87,1) 0%, rgba(4,29,87,1) 16%, 
			rgba(255,255,255,0) 16%, rgba(255,255,255,0) 32%,
			rgba(4,29,87,1) 32%, rgba(4,29,87,1) 48%, 
			rgba(255,255,255,0) 48%, rgba(255,255,255,0) 64%, 
			rgba(4,29,87,1) 64%, rgba(4,29,87,1) 80%,
			rgba(255,255,255,0) 80%, rgba(255,255,255,0) 96%,
			rgba(4,29,87,0) 96%, rgba(4,29,87,0) 100%);
	}
}

.xs-round-btn {
	@include equal-size-lineHeight(70px);
	display: inline-block;
	text-align: center;
	border-radius: 100%;
	background-color: $dodgerBlue;
	color: $color-white;
	box-shadow: $secondary-shadow;
	font-size: em(16px);
	@include transition;
	&:hover {
		color: $color-secondary;
	}
}

.btn {
	font-size: em(12px);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .3px;
	border-radius: 50px;
	box-shadow: $primary-shadow;
	padding: 16px 39px;
	line-height: 1;
	border: 0;
	color: $color-white;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all .4s ease;
	&.bg-orange {
		background-color: #fe813a;
	}
	&:before,
	&:after {
		content: '';
		width: 0;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: -1;
		transition: all .6s;
	}
	&:before {
		left: 50%;
	}
	&:after  {
		right: 50%;
	}
	&:hover:before, 
	&:hover:after {
		width: 50%;
	}
	.badge {
		padding: 0;
		font-size: 1.167em;
		padding-right: 7px;
		top: 1px;
	}
	&:hover {
		color: $color-black;
		background-color: $color-white;
	}
}
.btn.focus, 
.btn:focus {
	outline: 0;
	box-shadow: none;
}
.btn:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.btn-primary {
	background-color: $color-primary;
	&:hover:before ,
	&:hover:after {
		background-color: $color-secondary;
	}
	&:hover {
		background-color: $color-primary;
		color: $color-white;
	}
}
.btn-outline-primary {
	border: 2px solid #F2F2F2;
	padding: 14px 34px;
	background-color: transparent;
	&:hover {
		border-color: $color-white;
	}
}
.btn-secondary {
	background-color: $color-secondary;
	&:hover:before ,
	&:hover:after {
		background-color: $color-primary;
	}
	&:hover {
		background-color: $color-secondary;
		color: $color-white;
	}
}
.btn-warning {
	background-color: $colorWatermelon;
	&:hover:before ,
	&:hover:after {
		background-color: $color-primary;
	}
	&:hover {
		background-color: $colorWatermelon;
		color: $color-white;
	}
}
.btn-success {
	background-color: $colorShamrock;
	&:hover:before ,
	&:hover:after {
		background-color: $color-primary;
	}
	&:hover {
		background-color: $colorShamrock;
		color: $color-white;
	}
}

.btn-color-alt {
	&:hover {
		color: $color-black;
	}
	&:hover:before ,
	&:hover:after {
		background-color: $color-white;
	}
}

.xs-btn-wraper {
	a {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
}

// xs simple tag
.xs-simple-tag {
	li {
		line-height: 1;
		a {
			font-size: em(12px);
			color: $color-primary;
			text-transform: capitalize;
			&.color-light-red {
				color: $colorWatermelon;
			}
			&.color-purple {
				color: $light-purple;
			}
			&.color-blue {
				color: $dodgerBlue;
			}
			&.color-burntOrange {
				color: #fe813a;
			}
			&.color-riptide {
				color: #8ed4cc;
			}
			&.color-orange {
				color: $colorOrange;
			}
		}
	}
}

// post title
.xs-post-title {
	font-size: em(18px);
	font-weight: 600;
	color: $color-secondary;
	display: block;
	@include transition;
	line-height: 1.5;
}

a.xs-post-title {
	&:hover {
		color: $color-primary;
	}
}

// avatar round
.xs-round-avatar {
	@include equal-size(40px);
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	border-radius: 100%;
	display: inline-block;
}

.xs-avatar-title {
	align-self: center;
	a {
		color: #041D57;
		margin: 0;
		line-height: 1;
		font-size: 0.85714em;
		text-transform: capitalize;
	}
	span {
		color: #B6B6B6;
		margin: 0 5px 0 0;
	}
}

.xs-sub-title {
	font-weight: 700;
	font-size: em(36px);
	letter-spacing: -.2px;
}

.xs-big-sub-title {
	font-weight: 700;
	font-size: em(46px);
	letter-spacing: -.2px;
}

// xs social list


.xs-social-list {
	li {
		display: inline-block;
		margin: 0 10px 0 0;
		&:last-child {
			margin: 0;
		}
		a {
			@include equal-size-lineHeight(50px);
			position: relative;
			z-index: 1;
			@include transition;
			display: block;
			text-align: center;
			border-radius: 100%;
			// background-color: #11adb1;
			background-color: rgba(0,0,0,.1);
			font-size: em(15px);
			color: $color-white;
			&:hover {
				border-color: transparent;
				background-color: $color-secondary;
			}
			&.color-facebook:hover {
				background-color: $color-facebook;
			}
			&.color-twitter:hover {
				background-color: $color-twitter;
			}
			&.color-dribbble:hover {
				background-color: $color-dribbble;
			}
			&.color-pinterest:hover {
				background-color: $color-pinterest;
			}
			&.color-instagram:hover {
				background-color: $color-instagram;
			}
			&.color-linkedin:hover {
				background-color: $color-linkedin;
			}
		}
	}
	&.square {
		li {
			a {
				@include equal-size-lineHeight(40px);
				border-radius: 0%;
				border: 1px solid #F4F4F4;
				background-color: transparent;
				color: $color-secondary;
				&:hover {
					color: $color-white;
				}
			}
		}
	}
	&.simple {
		li {
			a {
				color: $color-secondary;
				border: 0;
				@include equal-size(auto);
				line-height: 0;
				background-color: transparent;
				&:hover {
					background-color: transparent;
					border: 0;
				}
				&.color-facebook:hover {
					color: $color-facebook;
				}
				&.color-twitter:hover {
					color: $color-twitter;
				}
				&.color-dribbble:hover {
					color: $color-dribbble;
				}
				&.color-pinterest:hover {
					color: $color-pinterest;
				}
				&.color-instagram:hover {
					color: $color-instagram;
				}
				&.color-linkedin:hover {
					color: $color-linkedin;
				}
			}
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.boxed {
		li {
			width: 45%;
			margin-right: 10px;
			margin-bottom: 10px;
			a {
				text-transform: uppercase;
				background-color: transparent;
				border: 1px solid #F1F1F1;
				color: #485E92;
				font-size: em(12px);
				height: auto;
				width: 100%;
				padding: 14px 0px;
				font-weight: 700;
				border-radius: 0%;
				line-height: normal;
				&:hover {
					color: $color-white;
				}
			}
			i {
				padding-right: 15px;
			}
		}
	}
}

.xs-social-list-v2 {
	@extend .xs-social-list;
	li {
		a {
			@include equal-size-lineHeight(40px);
			border: 1px solid #55acee;
			background-color: transparent;
			font-size: em(14px);
		}
	}
}

.xs-round-nav {
	@include equal-size-lineHeight(60px);
	text-align: center;
	display: block;
	border-radius: 100%;
	background-color: $color-green;
	color: $color-white;
	font-size: em(20px);
	box-shadow: $primary-shadow;
	@include transition;
	&:hover {
		background-color: $color-secondary;
	}
}

.xs-square-nav {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: 75px;
	background-color: $colorShamrock;
	text-align: center;
	color: $color-white;
	font-size: em(30px);
	@include transition;
	&:hover {
		background-color: #fe8743;
	}
}


blockquote {
	position: relative;
	margin-bottom: 0;
	padding-left: 30px;
	border-left: 1px solid #dadada;
	color: $light-blue;
	margin-left: 70px;
	&:before {
		position: absolute;
		content: "\f10d";
		font-family: $iconFont;
		left: -47px;
		top: 50%;
		transform: translateY(-50%);
		color: $color-primary;
		font-size: em(30px);
	}
	span {
		color: $color-primary;
	}
}

// countdown timer
.xs-countdown-timer {
	width: 100%;
	display: inline-flex;
	.timer-count {
		display: block;
		width: 100%;
		font-weight: 600;
		color: $color-secondary;
		font-size: em(16px);
		line-height: 1;
		.timer-title {
			display: block;
			font-weight: 400;
			color: $bcolor;
			font-size: 0.875em;
			margin-top: 10px;
		}
	}
	&.timer-style-2 {
		background-color: $color-secondary;
		padding: 20px 40px;
		text-align: center;
		.timer-count ,
		.timer-title {
			color: $color-white;
		}
	}
}

.xs-info-list {
	i {
		display: inline-block;
		float: left;
		@include equal-size-lineHeight(40px);
		background-color: $color-primary;
		text-align: center;
		color: $color-white;
		font-size: em(16px);
		margin-right: 20px;
		&.bg-red {
			background-color: $colorWatermelon;
		}
		&.bg-green {
			background-color: $colorShamrock;
		}
		&.bg-blue {
			background-color: $dodgerBlue;
		}
	}
	li , a {
		font-size: 14px;
		line-height: 1.49;
		margin-bottom: 17px;
		display: inline-block;
	}
	a {
		margin-top: 8px;
		margin-bottom: 0;
		@include transition;
		&:hover {
			color: $color-white;
		}
	}
	li {
		&:last-child {
			margin-bottom: 0;
		}
		&:after {
			display: table;
			content: "";
			clear: both;
		}
	}
}

// back to top
.xs-back-to-top-wraper {
	position: absolute;
	right: 36px;
	bottom: 20px;
	z-index: 9999;
}
.xs-back-to-top {
	@include equal-size-lineHeight(50px);
	background-color: $color-primary;
	color: $color-white;
	text-align: center;
	display: inline-block;
	font-size: em(25px);
	@include transition;
	&:hover {
		color: $color-white;
	}
}

// unorder list
.xs-unorder-list {
	li {
		margin-bottom: 10px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			font-family: $iconFont;
			color: $color-primary;
		}
	}
	&.arrow {
		li {
			padding-left: 18px;
			&:before {
				content: "\f178";
			}
		}
	}
	&.play {
		li {
			padding-left: 18px;
			&:before {
				content: "\f04b";
			}	
		}
	}
	li {
		i {
			padding-right: 17px;
		}
	}
	&.check {
		li {
			&::before {
				content: "\f00c";
				color: $color-white;
				@include equal-size-lineHeight(30px);
				border-radius: 100%;
				background-color: $colorShamrock;
				text-align: center;
				top: -3px;
			}
			padding-left: 40px;;
		}
	}
	&.circle {
		li {
			padding-left: 16px;
			&::before {
				content: '\f111';
				color: $dodgerBlue;
			}
		}
	}
	&.green-icon {
		li {
			&:before {
				color: $color-green;
			}
		}
	}
}
  
// laed paragraph
.lead {
	font-size: em(16px);
}

/* Pagination */
.xs-pagination {
	li {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		a {
			border: 2px solid #daefe7;
			@include equal-size(36px);
			color: $color-secondary;
			font-size: em(16px);
			@include transition;
			padding: 0;
			text-align: center;
			line-height: 33px;
			&:hover,
			&.active {
				background-color: $colorShamrock;
				border-color: $colorShamrock;
				box-shadow: $secondary-shadow;
				color: $color-white;
			}
		}
	}
	.page-item:first-child .page-link ,
	.page-item:last-child .page-link {
		border-radius: 0;
	}
}

/* watermark icon */
.icon-watermark {
	position: absolute;
	right: -38px;
	top: -26px;
	font-size: em(300px);
	opacity: .2;
}