
.xs-header {
	.nav-brand {
		background-color: transparent;
		padding: 10px 0;
		width: 150px;
	}

}

.header-transparent ,
.xs-box {
	.nav-brand {
		display: block;
		// padding: 32px 22px;
		position: relative;
		z-index: 1;
		@extend .xs-bg-property;
		filter: drop-shadow(8px 0px 16px rgba(0,0,0,.2));
		text-align: center;
	}
}


.xs-nav-logo {
	width: 80px;
	display: block;
	padding: 10px 0;
	@media only screen and (min-width: 992px) {
		display: none;
	}
}


.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;

}

.header-transparent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

}

/* nav bar v2 */ 
.xs-box {
	.xs-top-bar {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.xs-header {
	&.xs-box {
		// .xs-menus {
		// 	filter: drop-shadow(8px 0px 16px rgba(0, 0, 0, 0.2));
		// }
		.nav-menus-wrapper {
			margin: 0;
			align-items: flex-start;
		}
		.nav-menu {
			li {
				a {
					color: $color-secondary-v2;
					padding: 25px 15px;
					.submenu-indicator-chevron {
						border-color: transparent $color-secondary-v2 $color-secondary-v2 transparent;
					}
				}
			}
		}
		.xs-menus {
			position: relative;
		}
		[class*="col-"]:not(.xs-logo-wraper) {
			background-color: $color-white;
		}
		.xs-navs-button {
			text-align: right;
			height: 100%;
			padding: 13px 20px 12px 0;
		}
		.xs-top-bar ~ .nav-menus-wrapper .xs-logo-wraper {
			margin-top: -42px;
		}
	}
	&.xs-fullWidth {
		box-shadow: $secondary-shadow;
		.nav-brand {
			display: block;
		}
	}
}

.xs-menus {
	&.xs_nav-landscape {
		.nav-submenu {
			border-radius: 0 0 5px 5px;
			box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);
			background-color: $color-white;
			li {
				a {
					padding: 12px 20px;
					border-bottom: 1px solid #F1F1F1;
					color: #050C24;
					background-color: transparent;
					@include transition;
					&:hover {
						color: $color-primary;
					}
				}
				&:last-child {
					a {
						border-bottom: 0px solid #000;
					}
				}
			}
		}
	}
	.nav-menu {
		li {
			.nav-submenu {
				border-top: 0px;
			}
		}
	}
}

.xs_nav-landscape {
	.nav-logo {
		display: none;
	}
}