.xs-become-a-volunteer {
	@include background-content;
	position: relative;
	.scoller-image {
		img {
			position: absolute;
			opacity: 0;
			transform: translate(0%, 0);
			bottom: -100%;
			right: 0%;
		}
	}
}

.xs-volunteer-form-wraper {
	padding: 50px;
	color: $color-primary;
	border-radius: 4px;
	position: relative;
	h2 {
		@extend .xs-big-sub-title;
		margin-bottom: 12px;
	}
	p {
		margin-bottom: 50px;
	}
	&.bg-aqua {
		color: $color-white;
		.xs-volunteer-form {
			input:not([type="submit"]) ,
			.xs-fileContainer ,
			select ,
			textarea {
				border-color: rgba($color-white, .3);
				color: $color-white;
			}
		}
	}
	&.volunteer-version-2 {
		padding: 0;
		padding-top: 65px;
		h2 {
			color: $color-secondary;
		}
		p {
			color: $bcolor;
		}
		input:not([type="submit"]),
		select,
		textarea ,
		.xs-fileContainer {
			border-color: rgba(103, 126, 180, 0.4);
		}
		.xs-fileContainer ,
		select ,
		select option {
			color: #777777;
		}
		.xs-fileContainer label {
			background-image: url(/images/upload_icon_gray.png);
		}
		textarea {
			background-image: url(/images/massage_icon_gray.png);
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #777777;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: #777777;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: #777777;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: #777777;
		}
	}
	&.volunteer-version-3 {
		background-color: $color-white;
		overflow: hidden;
		h2 {
			color: $color-secondary;
		}
		p {
			color: $bcolor;
		}
		input:not([type="submit"]),
		select,
		textarea ,
		.xs-fileContainer {
			border-color: #e9e9e9;
			background-color: $color-white;
		}
		.xs-fileContainer ,
		select ,
		select option {
			color: #777777;
		}
		.xs-fileContainer label {
			background-image: url(/images/upload_icon_gray.png);
		}
		textarea {
			background-image: none;
			background-color: $color-white;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #777777;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: #777777;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: #777777;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: #777777;
		}
		.icon-watermark {
			right: -128px;
			top: -95px;
			font-size: 635px;
			color: $color-black;
			opacity: .03;
			pointer-events: none;
		}
	}
}

.xs-volunteer-form {
	input:not([type="submit"]) ,
	select ,
	textarea {
		width: 100%;
		border-radius: 0;
		border: 2px solid $color-primary;
		color: $color-primary;
		height: 55px;
		background-color: transparent;
		outline: none;
		padding: 0 20px;
		position: relative;
		&:focus {
			box-shadow: none;
		}
	}
	select {
		height: 55px !important;
		-webkit-appearance: none;
		appearance: none;
		background-image: url(/images/option_arrow.png);
		background-repeat: no-repeat;
		background-position: center right 20px;
		option {
			color: $color-primary;
		}
	}
	textarea {
		resize: none;
		height: 120px;
		padding: 20px;
		background-image: url(/images/massage_icon.png);
		background-repeat: no-repeat;
		background-position: top 20px right 20px;
	}
	.xs-fileContainer {
		position: relative;
		overflow: hidden;
		border: 2px solid $color-primary;
		color: $color-primary;
		label {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			cursor: pointer;
			margin-bottom: 0;
			background-image: url(/images/upload_icon.png);
			display: block;
			width: 100%;
			background-repeat: no-repeat;
			line-height: 1;
			background-position: center right 20px;
			padding: 0 20px;
		}
		.form-control {
			margin-bottom: 0;
		}
	}
	input[type=file] {
		cursor: pointer;
		display: block;
		min-height: 100%;
		min-width: 100%;
		opacity: 0;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color-white;
		font-size: 14px;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $color-white;
		font-size: 14px;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $color-white;
		font-size: 14px;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color-white;
		font-size: 14px;
	}
}
.form-control {
	margin-bottom: 20px;
	&:focus {
		box-shadow: none;
		border-color: transparent;
		background-color: transparent;
	}
}