@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto+Slab:400,700");

// default color set
$color-gray: #F9F9F9;
$color-black: #000000;
$color-dark-ash: #959595;
$color-green: #3ac798;
$light-blue: #677eb4;


// color variation
$colorWatermelon: #fa575d; // color red
$dodgerBlue: #369ff4; 
$colorOrange: #f7a900; // color orange
$light-purple: #9064bf;
$colorShamrock: #2cc391; // color green

// index v1 primary and secondary color list
$color-primary: #18bfc3; // aqua 
$color-secondary: #041D57; // navy blue color

// index v2 primary and secondary color list
$color-secondary-v2: #011b58; // navy blue color

// index v3 primary and secondary color list
$color-bondiBlue: #079bbb;

// shadow list
$primary-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
$secondary-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$secondary-shadow-2: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);


// social color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-dribbble: #ea4c89;
$color-pinterest: #bd081c;
$color-instagram: #e1306c;
$color-google-plus: #D8443D;
$color-linkedin: #dd5143;

// body var
$bodyFont: 'Poppins', sans-serif;
$fontAlt: 'Roboto Slab', serif;
$color-white: #FFFFFF;
$bodyFontWeight: 400;
$bcolor: #626c84;
$blineHeight: 32px;
$iconFont: 'FontAwesome';
$iconFont2: 'iconfont';

$fontSize: 16px;