.nav-menu li a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 15px;
  height: auto;
  color: $color-black;
  &:hover {
    border-bottom: 2px solid;
  }
}

.header-transparent, .xs-box {
  .nav-menu {
    text-align: center;
    li {
      float: none;
      a {
        padding: 60px 15px;
      }
    }
  }
}

.header-transparent {
  .nav-menu {
    li {
      a {
        color: $color-white;
        .submenu-indicator-chevron {
          border-color: transparent $color-white $color-white transparent;
        }
      }
    }
  }
}

.xs-fullWidth {
  .nav-menu {
    text-align: right;
    li {
      float: none;
      a {
        padding: 10px;
        font-size: 12px;
        color: #222222;
        .submenu-indicator-chevron {
          border-color: transparent #222222 #222222 transparent;
        }
      }
    }
  }
}

.xs-box {
  .nav-menus-wrapper {
    margin: 0;
    align-items: flex-start;
  }
  .nav-menu {
    li {
      a {
        color: $color-secondary-v2;
        padding: 25px 15px;
        .submenu-indicator-chevron {
          border-color: transparent $color-secondary-v2 $color-secondary-v2 transparent;
        }
      }
    }
  }
}